fastapi
typing-extensions
uvicorn
python-jose
passlib
python-multipart
pydantic
pydantic-settings
python-dotenv
openai
requests
pydantic[email]
httpx
requests-toolbelt
sqlalchemy
aiosqlite
alembic
bcrypt
asyncpg
aiomysql